.sector {
  margin: 50px auto;
  width: 70%;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}
.arrow-content {
	margin: 10px;
	padding: 10px;
}
.arrow_box { 
  	max-width: 250px;
  	border-radius: 10px;
    position: relative;
}
 .arrow_box:after, .arrow_box:before { 
 	left: 100%; 
 	border: solid transparent; 
 	content: " "; 
 	height: 0; 
 	width: 0; 
 	position: absolute; 
 	pointer-events: none; 
 } 
 .arrow_box:after { 
 	border-width: 30px; 
 	top: 50%; 
 	margin-top: -30px; 
 } 
 .arrow_box:before { 
 	border-width: 31px; 
 	top: 50%; 
 	margin-top: -31px; 
 }
 .opt {
  float: left;
 	font-size: 60pt;
  width: 60px;
 }
 .arrow-content img {
  margin-top: 5px;
 }
 .info {
  width: auto;
  margin-left: 40px;
}
.info h3 {
  margin: 20px 0px 5px 0px;
  padding: 0px;
  font-size: 1.5em;
}
.bookable {
  cursor: pointer;
}
 /**
  *   Booking Option Design.
  * 
  */

.ribbon-wrapper {
  width: 125px;
  height: 128px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: 0px;
  top: 30px;
  width: 160px;
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon:hover {
  color: #ac992f;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
}

.ribbon:before, .ribbon:after {
  content: "";
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}
.meter { 
  height: 10px;  /* Can be anything */
  position: relative;
  background: #ededed;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 3px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
  width: 100% - 3px;
  clear: left;
}
.meter > span {
  display: block;
  height: 100%;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  position: relative;
  overflow: hidden;
}


 /**
  *   Green Design.
  * 
  */
 .green-box {
    background-color: #8EBF45;
    background-image: -webkit-gradient(linear, left, right, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(left, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(left, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(left, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(left, #BFDC7A, #8EBF45);
    color: #D1F699;
    /*border: 1px solid #c2e1f5; */
 }
 .green-box:after {
  /*border-color: rgba(136, 183, 213, 0); */
  border-left-color: #8EBF45; 
 }
 .green-box:before {
  /*border-color: rgba(194, 225, 245, 0); */
  border-left-color: #8EBF45; 
 }
 .green-info {
  color: #8EBF45;
 }
 .green-info h3 {
  color: #618c20;
  text-shadow: rgba(255,255,255,0.7) 0px 1px 0px;
 }
 .green-ribbon {
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
 }
 .green-ribbon:before,.green-ribbon:after {
  border-top:   3px solid #6e8900;  
 }
 .green-box img {
  border: solid 2px #8EBF45;
 }
 .green-meter > span {
  background-color: rgb(191,220,122);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(191,220,122)),
    color-stop(1, rgb(142,191,69))
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(191,220,122) 37%,
    rgb(142,191,69) 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(191,220,122) 37%,
    rgb(142,191,69) 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    rgb(191,220,122) 37%,
    rgb(142,191,69) 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    rgb(191,220,122) 37%,
    rgb(142,191,69) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
 }

 /**
  *   Blue Design.
  * 
  */
 .blue-box {
    background-color: #236eae;
    background-image: -webkit-gradient(linear, left, right, from(#72b4eb), to(#236eae));
    background-image: -webkit-linear-gradient(left, #72b4eb, #236eae);
    background-image:    -moz-linear-gradient(left, #72b4eb, #236eae);
    background-image:     -ms-linear-gradient(left, #72b4eb, #236eae);
    background-image:      -o-linear-gradient(left, #72b4eb, #236eae);
    color: #a4d5ff;
    /*border: 1px solid #c2e1f5; */
 }
 .blue-box:after {
  /*border-color: rgba(136, 183, 213, 0); */
  border-left-color: #236eae; 
 }
 .blue-box:before {
  /*border-color: rgba(194, 225, 245, 0); */
  border-left-color: #236eae; 
 }
 .blue-info {
  color: #236eae;
 }
 .blue-info h3 {
  -webkit-text-stroke: 1px #236eae;
  color: #20558c;
 }
 .blue-ribbon {
  background-color: #72b4eb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#72b4eb), to(#236eae)); 
  background-image: -webkit-linear-gradient(top, #72b4eb, #236eae); 
  background-image:    -moz-linear-gradient(top, #72b4eb, #236eae); 
  background-image:     -ms-linear-gradient(top, #72b4eb, #236eae); 
  background-image:      -o-linear-gradient(top, #72b4eb, #236eae); 
 }
 .blue-ribbon:before,.blue-ribbon:after {
  border-top:   3px solid #104470;  
 }
 .blue-box img {
  border: solid 2px #72b4eb;
 }
 .blue-meter > span {
  background-color: rgb(112,178,233);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(112,178,233)),
    color-stop(1, rgb(37,112,176))
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(112,178,233) 37%,
    rgb(37,112,176) 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(112,178,233) 37%,
    rgb(37,112,176) 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    rgb(112,178,233) 37%,
    rgb(37,112,176) 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    rgb(112,178,233) 37%,
    rgb(37,112,176) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
 }
 
 /**
  *   terquiose Design.
  * 
  */
 .terquiose-box {
    background-color: #24adaf;
    background-image: -webkit-gradient(linear, left, right, from(#71e9ea), to(#24adaf));
    background-image: -webkit-linear-gradient(left, #71e9ea, #24adaf);
    background-image:    -moz-linear-gradient(left, #71e9ea, #24adaf);
    background-image:     -ms-linear-gradient(left, #71e9ea, #24adaf);
    background-image:      -o-linear-gradient(left, #71e9ea, #24adaf);
    color: #24adaf;
    /*border: 1px solid #c2e1f5; */
 }
 .terquiose-box:after {
  /*border-color: rgba(136, 183, 213, 0); */
  border-left-color: #24adaf; 
 }
 .terquiose-box:before {
  /*border-color: rgba(194, 225, 245, 0); */
  border-left-color: #71e9ea; 
 }
 .terquiose-info {
  color: #71e9ea;
 }
 .terquiose-info h3 {
  -webkit-text-stroke: 1px #158789;
  color: #24adaf;
 }
 .terquiose-ribbon {
  background-color: #72b4eb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#24adaf), to(#71e9ea)); 
  background-image: -webkit-linear-gradient(top, #24adaf, #71e9ea); 
  background-image:    -moz-linear-gradient(top, #24adaf, #71e9ea); 
  background-image:     -ms-linear-gradient(top, #24adaf, #71e9ea); 
  background-image:      -o-linear-gradient(top, #24adaf, #71e9ea); 
 }
 .terquiose-ribbon:before,.terquiose-ribbon:after {
  border-top:   3px solid #158789;  
 }
 .terquiose-box img {
  border: solid 2px #158789;
 }
 .terquiose-meter > span {
  background-color: rgb(36,173,175);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(36,173,175)),
    color-stop(1, rgb(113,233,234))
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(36,173,175) 37%,
    rgb(113,233,234) 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(36,173,175) 37%,
    rgb(113,233,234) 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    rgb(36,173,175) 37%,
    rgb(113,233,234) 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    rgb(36,173,175) 37%,
    rgb(113,233,234) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
 }
 
 /**
  *   orange Design.
  * 
  */
 .orange-box {
    background-color: #ae6323;
    background-image: -webkit-gradient(linear, left, right, from(#eaa870), to(#ae6323));
    background-image: -webkit-linear-gradient(left, #eaa870, #ae6323);
    background-image:    -moz-linear-gradient(left, #eaa870, #ae6323);
    background-image:     -ms-linear-gradient(left, #eaa870, #ae6323);
    background-image:      -o-linear-gradient(left, #eaa870, #ae6323);
    color: #eaa870;
    /*border: 1px solid #c2e1f5; */
 }
 .orange-box:after {
  /*border-color: rgba(136, 183, 213, 0); */
  border-left-color: #ae6323; 
 }
 .orange-box:before {
  /*border-color: rgba(194, 225, 245, 0); */
  border-left-color: #ae6323; 
 }
 .orange-info {
  color: #eaa870;
 }
 .orange-info h3 {
  -webkit-text-stroke: 1px #7d3f0b;
  color: #eaa870;
 }
 .orange-ribbon {
  background-color: #eaa870;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ae6323), to(#eaa870)); 
  background-image: -webkit-linear-gradient(top, #ae6323, #eaa870); 
  background-image:    -moz-linear-gradient(top, #ae6323, #eaa870); 
  background-image:     -ms-linear-gradient(top, #ae6323, #eaa870); 
  background-image:      -o-linear-gradient(top, #ae6323, #eaa870); 
 }
 .orange-ribbon:before,.orange-ribbon:after {
  border-top:   3px solid #7d3f0b;  
 }
 .orange-box img {
  border: solid 2px #7d3f0b;
 }
 .orange-meter > span {
  background-color: rgb(174,99,35);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(174,99,35)),
    color-stop(1, rgb(234,168,112))
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(174,99,35) 37%,
    rgb(234,168,112) 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(174,99,35) 37%,
    rgb(234,168,112) 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    rgb(174,99,35) 37%,
    rgb(234,168,112) 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    rgb(174,99,35) 37%,
    rgb(234,168,112) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
 }
 
 /**
  *   yellow Design.
  * 
  */
 .yellow-box {
    background-color: #ead671;
    background-image: -webkit-gradient(linear, left, right, from(#ead671), to(#af9924));
    background-image: -webkit-linear-gradient(left, #ead671, #af9924);
    background-image:    -moz-linear-gradient(left, #ead671, #af9924);
    background-image:     -ms-linear-gradient(left, #ead671, #af9924);
    background-image:      -o-linear-gradient(left, #ead671, #af9924);
    color: #af9924;
    /*border: 1px solid #c2e1f5; */
 }
 .yellow-box:after {
  /*border-color: rgba(136, 183, 213, 0); */
  border-left-color: #af9924; 
 }
 .yellow-box:before {
  /*border-color: rgba(194, 225, 245, 0); */
  border-left-color: #af9924; 
 }
 .yellow-info {
  color: #af9924;
 }
 .yellow-info h3 {
  -webkit-text-stroke: 1px #958114;
  color: #af9924;
 }
 .yellow-ribbon {
  background-color: #af9924;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ead671), to(#af9924)); 
  background-image: -webkit-linear-gradient(top, #ead671, #af9924); 
  background-image:    -moz-linear-gradient(top, #ead671, #af9924); 
  background-image:     -ms-linear-gradient(top, #ead671, #af9924); 
  background-image:      -o-linear-gradient(top, #ead671, #af9924); 
 }
 .yellow-ribbon:before,.yellow-ribbon:after {
  border-top:   3px solid #958114;  
 }
 .yellow-box img {
  border: solid 2px #958114;
 }
 .yellow-meter > span {
  background-color: rgb(234,214,113);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(234,214,113)),
    color-stop(1, rgb(175,153,36))
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(234,214,113) 37%,
    rgb(175,153,36) 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(234,214,113) 37%,
    rgb(175,153,36) 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    rgb(234,214,113) 37%,
    rgb(175,153,36) 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    rgb(234,214,113) 37%,
    rgb(175,153,36) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
 }
 
 /**
  *   purple Design.
  * 
  */
 .purple-box {
    background-color: #9972eb;
    background-image: -webkit-gradient(linear, left, right, from(#9972eb), to(#5023ae));
    background-image: -webkit-linear-gradient(left, #9972eb, #5023ae);
    background-image:    -moz-linear-gradient(left, #9972eb, #5023ae);
    background-image:     -ms-linear-gradient(left, #9972eb, #5023ae);
    background-image:      -o-linear-gradient(left, #9972eb, #5023ae);
    color: #5023ae;
    /*border: 1px solid #c2e1f5; */
 }
 .purple-box:after {
  /*border-color: rgba(136, 183, 213, 0); */
  border-left-color: #5023ae; 
 }
 .purple-box:before {
  /*border-color: rgba(194, 225, 245, 0); */
  border-left-color: #5023ae; 
 }
 .purple-info {
  color: #5023ae;
 }
 .purple-info h3 {
  -webkit-text-stroke: 1px #3c1195;
  color: #5023ae;
 }
 .purple-ribbon {
  background-color: #5023ae;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9972eb), to(#5023ae)); 
  background-image: -webkit-linear-gradient(top, #9972eb, #5023ae); 
  background-image:    -moz-linear-gradient(top, #9972eb, #5023ae); 
  background-image:     -ms-linear-gradient(top, #9972eb, #5023ae); 
  background-image:      -o-linear-gradient(top, #9972eb, #5023ae); 
  color: #c5aaff;
 }
 .purple-ribbon:before,.purple-ribbon:after {
  border-top:   3px solid #3c1195;  
 }
 .purple-box img {
  border: solid 2px #3c1195;
 }
 .purple-meter > span {
  background-color: rgb(153,114,235);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(153,114,235)),
    color-stop(1, rgb(80,35,174))
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(153,114,235) 37%,
    rgb(80,35,174) 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(153,114,235) 37%,
    rgb(80,35,174) 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    rgb(153,114,235) 37%,
    rgb(80,35,174) 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    rgb(153,114,235) 37%,
    rgb(80,35,174) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
 }
 
 /**
  *   pink Design.
  * 
  */
 .pink-box {
    background-color: #da71ea;
    background-image: -webkit-gradient(linear, left, right, from(#da71ea), to(#9d24af));
    background-image: -webkit-linear-gradient(left, #da71ea, #9d24af);
    background-image:    -moz-linear-gradient(left, #da71ea, #9d24af);
    background-image:     -ms-linear-gradient(left, #da71ea, #9d24af);
    background-image:      -o-linear-gradient(left, #da71ea, #9d24af);
    color: #9d24af;
    /*border: 1px solid #c2e1f5; */
 }
 .pink-box:after {
  /*border-color: rgba(136, 183, 213, 0); */
  border-left-color: #9d24af; 
 }
 .pink-box:before {
  /*border-color: rgba(194, 225, 245, 0); */
  border-left-color: #9d24af; 
 }
 .pink-info {
  color: #9d24af;
 }
 .pink-info h3 {
  -webkit-text-stroke: 1px #8d189e;
  color: #9d24af;
 }
 .pink-ribbon {
  background-color: #9d24af;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#da71ea), to(#9d24af)); 
  background-image: -webkit-linear-gradient(top, #da71ea, #9d24af); 
  background-image:    -moz-linear-gradient(top, #da71ea, #9d24af); 
  background-image:     -ms-linear-gradient(top, #da71ea, #9d24af); 
  background-image:      -o-linear-gradient(top, #da71ea, #9d24af); 
 }
 .pink-ribbon:before,.pink-ribbon:after {
  border-top:   3px solid #8d189e;  
 }
 .pink-box img {
  border: solid 2px #8d189e;
 }
 .pink-meter > span {
  background-color: rgb(218,113,234);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(218,113,234)),
    color-stop(1, rgb(157,36,175))
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(218,113,234) 37%,
    rgb(157,36,175) 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(218,113,234) 37%,
    rgb(157,36,175) 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    rgb(218,113,234) 37%,
    rgb(157,36,175) 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    rgb(218,113,234) 37%,
    rgb(157,36,175) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
 }
 
 /**
  *   lightblue Design.
  * 
  */
 .lightblue-box {
    background-color: #71cdea;
    background-image: -webkit-gradient(linear, left, right, from(#71cdea), to(#238cae));
    background-image: -webkit-linear-gradient(left, #71cdea, #238cae);
    background-image:    -moz-linear-gradient(left, #71cdea, #238cae);
    background-image:     -ms-linear-gradient(left, #71cdea, #238cae);
    background-image:      -o-linear-gradient(left, #71cdea, #238cae);
    color: #238cae;
    /*border: 1px solid #c2e1f5; */
 }
 .lightblue-box:after {
  /*border-color: rgba(136, 183, 213, 0); */
  border-left-color: #238cae; 
 }
 .lightblue-box:before {
  /*border-color: rgba(194, 225, 245, 0); */
  border-left-color: #238cae; 
 }
 .lightblue-info {
  color: #238cae;
 }
 .lightblue-info h3 {
  -webkit-text-stroke: 1px #197796;
  color: #238cae;
 }
 .lightblue-ribbon {
  background-color: #238cae;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#71cdea), to(#238cae)); 
  background-image: -webkit-linear-gradient(top, #71cdea, #238cae); 
  background-image:    -moz-linear-gradient(top, #71cdea, #238cae); 
  background-image:     -ms-linear-gradient(top, #71cdea, #238cae); 
  background-image:      -o-linear-gradient(top, #71cdea, #238cae); 
 }
 .lightblue-ribbon:before,.lightblue-ribbon:after {
  border-top:   3px solid #197796;  
 }
 .lightblue-box img {
  border: solid 2px #197796;
 }
 .lightblue-meter > span {
  background-color: rgb(113,205,234);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(113,205,234)),
    color-stop(1, rgb(35,140,174))
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(113,205,234) 37%,
    rgb(35,140,174) 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(113,205,234) 37%,
    rgb(35,140,174) 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    rgb(113,205,234) 37%,
    rgb(35,140,174) 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    rgb(113,205,234) 37%,
    rgb(35,140,174) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
 }

 .booked-ribbon {
  background-color: #B41D28;
  background-image: -webkit-gradient(linear, top, bottom, from(#B41D28), to(#FF9BB2));
  background-image: -webkit-linear-gradient(top, #B41D28, #FF9BB2);
  background-image:    -moz-linear-gradient(top, #B41D28, #FF9BB2);
  background-image:     -ms-linear-gradient(top, #B41D28, #FF9BB2);
  background-image:      -o-linear-gradient(top, #B41D28, #FF9BB2);
  color: white;
 }

 .booked-ribbon:before,.booked-ribbon:after {
  border-top:   3px solid #8B0010;  
 }