 .orange-box {
    background-color: #ae6323;
    background-image: url('../img/gradient.png');
    background-repeat: repeat-y;
    color: #eaa870;
 }
 .terquiose-box {
    background-color: #24adaf;
    background-image: url('../img/gradient.png');
    background-repeat: repeat-y;
    color: #71e9ea;
 }
 .green-box {
    background-color: #8EBF45;
    background-image: url('../img/gradient.png');
    background-repeat: repeat-y;
    color: #D1F699;
 }
 .blue-box {
    background-color: #236eae;
    background-image: url('../img/gradient.png');
    background-repeat: repeat-y;
    color: #a4d5ff;
 }
 .yellow-box {
    background-color: #af9924;
    background-image: url('../img/gradient.png');
    background-repeat: repeat-y;
    color: #af9924;
 }
 .purple-box {
    background-color: #5023ae;
    background-image: url('../img/gradient.png');
    background-repeat: repeat-y;
    color: #9972eb;
 }
 .pink-box {
    background-color: #9d24af;
    background-image: url('../img/gradient.png');
    background-repeat: repeat-y;
    color: #9d24af;
 }
 .lightblue-box {
    background-color: #238cae;
    background-image: url('../img/gradient.png');
    background-repeat: repeat-y;
    color: #238cae;
 }

