/* ==========================================================================
   SEN Register CSS
   ========================================================================== */
/*
 *  Generic Classes
 */
.pt5 {
  padding-top: 5px;
}

.pf5 {
  padding: 5px;
}

.link span {
  cursor: pointer;
  opacity: 0.4;
}

.link:hover span {
  opacity: 1;
}

/*
 *	Main Layout
 */
 #displaybox {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 950px;
 }

/*
 *  Top Tab Menu
 */

 #displaybox .diaplytabs li {
 	width: 33%;
    background: #a0a0a0;
    color: #e3e3e3;
    font-size: 16px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0px;
    list-style-type: none;

    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
 }

 /*
  * Display Box
  */

 #displaybox .diaplytabs li.active	{
    background: #e3e3e3;
    color: #a0a0a0;
 }

 #displaycontent	{
 	background: #e3e3e3;
 	padding: 5px 10px 10px 10px;

  /*-- Rounded Corners -- */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
 }

 /*
  *	Display Menu
  */

  #displaycontent ul {
  	width: 70px;
    float: left;
  	list-style-type: none;
  	font-size: 16px;
  	line-height: 3em;
  	color: #787878;
  }
  #displaycontent li {
  	width: 100%;
  	text-align: center;
  }

  #displaycontent li:after {
  	/*content: url('../sen/menudivide.png');*/
  }

  #displaycontent li.active{
  	background: #FFFFFF;
  }

  /*
   *  Class List Area
   */

   #displaycontent  .displaymain	{
   /*	margin-left: 70px;*/
   	float: left;
   	background: #FFFFFF;
    width: 840px;
    padding: 10px;

    height: 100%;
    -moz-box-shadow: 0 0 8px #000000;
    -webkit-box-shadow: 0 0 8px #000000;
    box-shadow: 0 0 8px #000000;
   }

   .hidden {
    display: none;
   }

  /*
   * Pupil Detail
   */
   #displaycontent  .pupilcontainer {
    margin-top: 10px;
   }

   #displaycontent  .pupildetail {
    padding: 5px;
    background: #ebebeb;
    -moz-box-shadow: 0 0 3px #424242;
    -webkit-box-shadow: 0 0 3px #424242;
    box-shadow: 0 0 3px #424242;

  /*-- Rounded Corners -- */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
   }

   #displaycontent  .pupildetail img {
    margin: 0px 10px 0px 10px;
   }

   #displaycontent  .pupildetail h4 {
    margin: 0px;
    padding: 10px 0px 0px 0px;
    /*max-width: 200px;*/
    color: #8c8b8b;
   }

   #displaycontent  .pupildetail div.pupil {
    width: 400px;
    float: left;
    color: #8c8b8b;
   }
   #displaycontent  .pupildetail div.form {
    width: 180px;
    float: right;
    color: #8c8b8b;
   }
   #displaycontent  .pupildetail div.attendance {
    width: 150px;
    float: right;
    color: #8c8b8b;
   }

   #displaycontent .pupildetail ul.needs  {
    margin: 0px;
    padding: 0px;
    width: auto;
    list-style: none;
    display: inline;
   }

   #displaycontent .pupildetail ul.needs li {
    margin: 0px;
    padding: 0px;
    line-height: 1;
    width: auto;
    display: inline;
   }

  /*
   * Need Detail
   */
   .needdetail  {
    margin-left: 80px;
    width: 760px;
    float: left;

    -moz-box-shadow: 0 0 3px #424242;
    -webkit-box-shadow: 0 0 3px #424242;
    box-shadow: 0 0 3px #424242;

    /*-- Rounded Corners -- */
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
   }

   #displaycontent ul.strategies {
    margin: 5px 5px 5px 20px;
    padding: 0px;
    width: auto;
    max-width: 680px;
    list-style-position:outside;
   }

   #displaycontent ul.strategies li {
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    width: auto;
    max-width: 700px;
    text-align: left;
    list-style-type:circle;
   }

   .needwhatcolor  {
    background: #eebcbc;
   }

   .needhowcolor  {
    background: #f8f1b5;
   }

   .needfurthercolor  {
    background: #e4f8f8;
   }

  /*
   * Need Menu
   */
   .needmenu  {
    width: 30px;
    float:left;
   }

   .needwhatmenu{
    background: #bf2020;
   }

   .needhowmenu {
    background: #e7cf09;
   }

   .needfurthermenu {
    background: #a7e7e8;

  /*-- Rounded Corners -- */
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
   }

  .needlink {
    cursor: pointer;
    opacity: 0.7;
  }

  .needlink:hover {
    opacity: 1;
  }

  #container2 {
      float:left;
      width:100%;
      background:white;
      background-position: 0px 70px;
      position:relative;
      overflow:hidden;
  }
  #container1 {
      float:left;
      width:100%;
      position:relative;
      background: #e3e3e3;
      right:860px;
  }
  #col1 {
      float:left;
      width: 70px;
      left: 860px;
      position:relative;
      overflow:hidden;
  }
  #col2 {
      float:left;
      width: 860px;
      left: 860px;
      position:relative;
      overflow:hidden;
  }