.wrapper {
  margin: 50px auto;
  width: 900px;
  height: 150px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}
.arrow-content {
	margin: 10px;
	padding: 10px;
	color: #D1F699;
}
.arrow_box { 
	position: relative; 
  	width: 250px;
  	height: 150px;
  	border-radius: 10px;
}
 .arrow_box:after, .arrow_box:before { 
 	left: 100%; 
 	border: solid transparent; 
 	content: " "; 
 	height: 0; 
 	width: 0; 
 	position: absolute; 
 	pointer-events: none; 
 } 
 .arrow_box:after { 
 	border-width: 30px; 
 	top: 50%; 
 	margin-top: -30px; 
 } 
 .arrow_box:before { 
 	border-width: 31px; 
 	top: 50%; 
 	margin-top: -31px; 
 }
 
 .green-box {
	  background-color: #8EBF45;
	  background-image: -webkit-gradient(linear, left, right, from(#BFDC7A), to(#8EBF45));
	  background-image: -webkit-linear-gradient(left, #BFDC7A, #8EBF45);
	  background-image:    -moz-linear-gradient(left, #BFDC7A, #8EBF45);
	  background-image:     -ms-linear-gradient(left, #BFDC7A, #8EBF45);
	  background-image:      -o-linear-gradient(left, #BFDC7A, #8EBF45);
	  /*border: 1px solid #c2e1f5; */
 }
 .green-box:after {
 	/*border-color: rgba(136, 183, 213, 0); */
 	border-left-color: #8EBF45; 
 
 }
 .green-box:before {
 	/*border-color: rgba(194, 225, 245, 0); */
 	border-left-color: #8EBF45; 
 
 }
 .opt {
 	font-size: 60pt;
 }
