body {
	font-size: 1em;
}
table, td, tr  {
	border: 0;
	margin: 0;
	border-collapse: collapse;
}
td {	
	padding: 5px;
	text-align: center;
}
td:first-child{
	text-align: left;
}
td:last-child{
	background: #FFFFFF;
}
th:last-child{
	background: #FFFFFF;
}
th {
	background: #287FCB;
	color: white;
	padding: 5px;
}
tr:nth-child(even) {background: #BCEAFF;}
tr:nth-child(even) input {
	width: 50px;
	background: #A9D3E6; 
	border: solid 1px #708C99;
     -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
             border-radius: 5px;
}
tr:nth-child(odd) {background: #93DDFF;}
tr:nth-child(odd)  input {
	width: 50px;
	background: #7DBCD9; 
	border: solid 1px #5F90A6;
     -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
             border-radius: 5px;
}
tr.highlight {
	background: #F6FC4E;
	font-size: 1.2em;
	height: 1.5em;
	max-height: 1.5em;
	border: 0px solid #aaa;
	padding: 0px;
	-webkit-box-shadow: -2px 0px 2px 0px #aaa;
	box-shadow: -2px 0px 2px 0px #aaa;
	-moz-box-shadow: -2px 0px 2px 0px #aaa;
}
tr.highlight td {
	padding: 0px 0px 0px 5px;
}
tr.highlight td:last-child {
	padding: 0px;
	border:0px solid #fff;
	-webkit-box-shadow: -2px 0px 2px 0px #fff;
	box-shadow: -2px 0px 2px 0px #fff;
	-moz-box-shadow: -2px 0px 2px 0px #fff;
}
tr.highlight input  {
	background: #D4D943;
	border: solid 1px #AEB237;
     -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
             border-radius: 5px;
}
.highlight_box { 
	float: left;
	width: 0; 
	height: 0; 
	border-top: 0.75em solid transparent;
	border-bottom: 0.75em solid transparent; 
	border-right:0.75em solid #F3C717; 
}
.save {
	height: 1.5em;
	line-height: 1.5em;
	float: left;
	background:  #F3C717;
	padding: 0px 10px 0px 10px;
	color: #fff;
     -webkit-border-top-right-radius: 5px;
     -webkit-border-bottom-right-radius: 5px;
         -moz-border-radius-topright: 5px;
         -moz-border-radius-bottomright: 5px;
             border-top-right-radius: 5px;
             border-bottom-right-radius: 5px;
}
.t-left {
	text-align: left;
}
