/* Login Specific Styles */

input
{
	
}

/*
 *	Main Layout
 */
 #displaybox {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 950px;
 }

 #displaycontent	{
 	background: #e3e3e3;
 	padding: 5px 10px 10px 10px;

  /*-- Rounded Corners -- */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
 }

#login_form
{
	background: white;
	padding: 10px;

    /*-- Rounded Corners -- */
    border-bottom-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#login_form input
{
	margin: 10px;
	float: left;
	clear: left;
}

#displaycontent .mt10	{
	margin-top: 10px;
}

#displaycontent div {
	text-align: center;
}

#login_form input {
	opacity: 1;
}

#login_form input.hint	{
	opacity: 0.5;
}