/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: Arial;
}

*, h1, h2   {
    margin: 0px;
    padding: 0px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Global Specific styles
   ========================================================================== */
/*
 *  Set the default css for all containers.
 */
.container {
    width: 100%;
    min-height:100%;
}


/*
 *  Set the default css for the areaas in the container.
 */
.container-area {
    margin: 0 auto;
}

/*
 *  Change Unordered list to inline display.
 */
ul.menu-inline, ul.menu-inline li {
    display: inline;
}

/*.menu-inline a:after {
    content: url('../img/menu-divide-small.png');
}*/

.menu-inline a.last:after {
    content: "";
}
ul, dl {
    margin: 0px;
    padding: 0px;
}

/*
 * Text Alterations
 */
 .text-uc {
    text-transform:uppercase;
 }

 .text-lc {
    text-transform:lowercase;
 }

 h1 {
    font-family: georgia;
    color: #02431F;
    font-size: 22px;
 }

 h2 {
    font-family: georgia;
    color: #02431F;
    font-size: 18px;
 }
 a  {
    text-decoration: none;
    color: #02431F;
 }
 dd {
  font-size: 0.8em;
  font-style: italic;
  display: inline;
  padding: 0px 10px 0px 0px;
  margin: 0px;
  color: #45976D;
 }
 dt {
  display:none;
 }
 /*
  * Layout Classes
  */
 .float-l, .imagefloatleft {
    float: left;
 }
 .float-r, .imagefloatright {
    float: right;
 }
 .clr-l {
    clear:left;
 }
 .clr-r {
    clear:right;
 }
 .clr-b {
    clear:both;
 }

 /*
  * Box Borders Etc..
  */
  .brdr-thin {
    border: 1px solid #02431F;
    padding: 2px;
  }

    #mainContent {
        background: url('../img/bg.jpg');
    }

  .h1highlight {
    color: #e9262c;
    font-style: italic;
  }

.applink {
  cursor: pointer;
  opacity: 0.7;
}

.applink:hover {
  opacity: 1;
}

/* ==========================================================================
   Header Specific styles
   ========================================================================== */

/*
 *  Multiple Header Specific Settings
 */
#header-border, #header {
    background: #FFFFFF;
    font-size: 14px;
    color: #02431F;
}

/*
 *  Header Container 
 */
#header-thin-border {
    height: 10px;
    background: url("../img/ft.jpg");
}

/*
 *  Header Border
 */
#header-border {
    border-bottom: 3px solid #02431F;
}

/*
 * Header Content Area
 */
#header {
    max-width: 950px;
    min-width: 750px;
}

/*
 * Header Menu
 */
 #header-menu {
    color: #FFFFFF;
    font-size: 12px;
 }

 #header-menu ul {
    background: url("../img/ft.jpg");
    color: #FFFFFF;
    font-size: 12px;
    padding: 0px 10px 5px 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0px;

    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
 }

 #header-menu a {
    color: #FFFFFF;
    text-decoration: none;
 }

 #header-menu a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    margin-bottom: 5px;
 }
 
a#toggleapps {
    float:right;
    display:block;
    width:64px;
    height:64px;
    background:url(../img/apps-iconv2.png) no-repeat;
    text-indent:-9999px;
    border:0;
    opacity: 0.5;
    margin:10px 30px 10px 10px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;  
}
a#toggleapps:hover {
    opacity: 1; 
}

#applayer {
    background:#586363 url('../img/applayerbg.png') repeat;
    position:absolute;
    top:100px;
    width:100%;
}
#applayer a {
    color: #FFFFFF;
}
#contentlayer {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 40%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 40%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 40%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 40%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 40%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    z-index:10;
    position:absolute;
    top:100px;
    width:100%;
    min-height:700px;
    overflow:auto;
    padding-bottom:50px;
}
ul.apps {
    display:block;  
}
ul.apps li {
    float:left;
    width:128px;
    height:128px;
    margin:10px;
    list-style:none;
}

 /*
  * Main Menu
  */
  #main-menu {
    padding-top: 15px;
  }
  #main-menu li {
    padding:0px;
    margin: 0px;
  }
  .image-title {
    padding-top: 10px;
  }
  #header img {
    /*padding-top: 10px;*/
  }
  /*
   * Alerts Message Box
   */
   #alerts {
    display: none;
    position: fixed;
    left: 35%;
    top: 0px;
    width: 25%;
    border: solid 1px #72b4eb;
      -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
      -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.7);
      box-shadow:         0px 0px 3px rgba(0,0,0,0.7);
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
          border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
           border-bottom-left-radius: 5px;
    z-index: 1000;
   }

   #alerts .title {
    background-color: #236eae;
    background-image: -webkit-gradient(linear, top, bottom, from(#72b4eb), to(#236eae));
    background-image: -webkit-linear-gradient(top, #72b4eb, #236eae);
    background-image:    -moz-linear-gradient(top, #72b4eb, #236eae);
    background-image:     -ms-linear-gradient(top, #72b4eb, #236eae);
    background-image:      -o-linear-gradient(top, #72b4eb, #236eae);
    padding: 5px;
    color: white;
   }

   #alerts .message {
    padding: 10px 5px;
    color: #236eae;
    background-color: white;
   }
   #alerts.errors   {
    border: solid 1px #B41D28;
   }
   #alerts.errors .title {
    background-color: #FF9BB2;
    background-image: -webkit-gradient(linear, top, bottom, from(#B41D28), to(#FF9BB2));
    background-image: -webkit-linear-gradient(top, #B41D28, #FF9BB2);
    background-image:    -moz-linear-gradient(top, #B41D28, #FF9BB2);
    background-image:     -ms-linear-gradient(top, #B41D28, #FF9BB2);
    background-image:      -o-linear-gradient(top, #B41D28, #FF9BB2);
    color: white;
   }

   #alerts.errors .message {
    color: #B41D28;
   }
/* ==========================================================================
   Content Specific styles
   ========================================================================== */
/*
 *  Multiple Content Specific Settings
 */
 
/*
 *  Content Border
 */ 
#content-border {
    background: url("../img/brdr.png");
    max-width: 950px;
    min-width: 750px;
    padding: 10px 10px 0px 10px;
    margin-top: 1em;
}

/*
 * Main Content Area
 */
#content {
    background: #FFFFFF;
    padding: 5px;
    font-size: 0.8em;
}

/*
 * Main Feature Settings
 */
 #content-main-news {
    width: 660px;
    height: 310px;
 }

/*
 * Main Features Description
 */
.panel {
 float: left;
 background: #FFFFFF;
 bottom: 0px;
 left: 0px;
 width: 100%;
}

/*
 * Sub News Settings
 */
 .subnews {
    width: 240px;
    height: 150px;
    margin: 0px 0px 10px 18px;
    padding: 0px 5px 0px 5px;
    font-size: 1.2em;
    color: #02431F;
 }
 .subnews p {
    padding: 0px;
    margin: 0px;
 }
/*
 * Quote 
 */
#content-quote {
    padding-top: 10px;
}

#content-quote h1 {
    padding: 15px;
}

#content-quote img {
    padding-right: 15px;
}

.img-intro-left {
  display: none;
}

/*
 * Highlighted Sections
 */
#content-highlights {
    padding-bottom: 20px;
}

#content-highlights h2 {
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin: 0px;
    line-height: 1.1;
}
.content-highlight-border   {
    padding: 10px 0px 10px 0px;
    background: url("../img/brdr.png");
}

.content-highlight {
    width: 225px;
    padding-right: 10px;
    font-size: 12px;
}

.content-highlight-last {
    width: 230px;
    padding-right: 0px;
    font-size: 12px;
}

/* ==========================================================================
   Normal Page Main Content Specific styles
   ========================================================================== */
#content-section-menu {
    margin: 10px 0px 0px 0px;
    padding-bottom: 0px;
    background: url("../img/secbg.jpg") repeat-y;
    width: 230px;
    border-left: 1px solid #02431F;
}

.content-section-menu-end {
  background: url("../img/secbottom.jpg") no-repeat;
  height: 32px;
}

#content-section-menu .parent {
    background: url("../img/sechead.jpg") no-repeat;
    width: 225px;
    /*height: 66px;*/
    line-height: 66px;
    text-align: left;
    padding-left: 10px;
    font-size: 2em;
    font-family: georgia;
}

#content-section-menu ul{
    list-style-type: none;
}

#content-section-menu li{
        padding-left: 20px;
        border-top: 1px solid #FFFFFF;
        line-height: 33px;
        font-size: 0.7em;
}
#content-section {
    margin: 10px 0px 10px 10px;
    width: 690px;
}

#content-section h1 {
    background: url("../img/headbg.jpg");
    width: 690px;
    height: 66px;
    line-height: 66px;
    text-align: left;
    padding-left: 10px;
    font-size: 2em;
}

#content-section h2 {
    background: url("../img/headbg.jpg");
    width: 690px;
    height: 66px;
    line-height: 66px;
    text-align: left;
    padding-left: 10px;
    font-size: 2em;
}

.item-separator {
    height: 15px;
    clear: both;
}

.becssg_holder {
    padding: 10px 0px 10px 0px;
    clear: both;
}
.counter {
    text-align: center;
}

.pagenav {
    padding: 5px;
}

div.pagination ul {
    float: right;
    display: inline;
    list-style-type: none;
}

div.pagination li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

 #jmcontactform .inputbox {
    width: 400px;
 }

/* ==========================================================================
   Footer Specific styles
   ========================================================================== */
/*
 *  Multiple Content Specific Settings
 */
 .ftsize {
    height: 119px;
 }
/*
 *  Footer Container
 */ 
#footer-container   {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: url("../img/ftdiv.jpg");
    padding-top: 10px;
    z-index: 11;
}

#footer-content-border {
    background: url("../img/ft.jpg");
    border-top: 1px solid #FFFFFF;
}

#footer-content {
    max-width: 950px;
    min-width: 750px;
    max-height: 119px;
}

/*
 * Settings for the Footer Text
 */


#footer-content a {
  color: #97a89e;
}
#footer-content a:hover {
  text-decoration: underline;
}

.ft-txt {
    font-size: 12px;
    color: #97a89e;
    padding-top: 10px;
    clear: right;
}



/* ==========================================================================
   Grid
   ========================================================================== */

/* http://www.designinfluences.com/fluid960gs/12/ */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}
.grid_1 {width: 6.333%;}
.grid_2 {width: 14.666%;}
.grid_3 {width: 23%;}
.grid_4 {width: 31.333%;}
.grid_5 {width: 39.666%;}
.grid_6 {width: 48%;}
.grid_7 {width: 56.333%;}
.grid_8 {width: 64.666%;}
.grid_9 {width: 73%;}
.grid_10{width: 81.333%;}
.grid_11{width: 89.666%;}
.grid_12{width: 98%;}

.prefix_1{padding-left: 8.333%;}
.prefix_2{padding-left: 16.666%;}
.prefix_3{padding-left: 25%;}
.prefix_4{padding-left: 33.333%;}
.prefix_5{padding-left: 41.666%;}
.prefix_6{padding-left: 50%;}
.prefix_7{padding-left: 58.333%;}
.prefix_8{padding-left: 66.666%;}
.prefix_9{padding-left: 75%;}
.prefix_10{padding-left: 83.333%;}
.prefix_11{padding-left: 91.666%;}

.suffix_1{padding-right: 8.333%;}
.suffix_2{padding-right: 16.666%;}
.suffix_3{padding-right: 25%;}
.suffix_4{padding-right: 33.333%;}
.suffix_5{padding-right: 41.666%;}
.suffix_6{padding-right: 50%;}
.suffix_7{padding-right: 58.333%;}
.suffix_8{padding-right: 66.666%;}
.suffix_9{padding-right: 75%;}
.suffix_10{padding-right: 83.333%;}
.suffix_11{padding-right: 91.666%;}

.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
